In [1]:
# linear algebra
import numpy as np 

# data processing
import pandas as pd 

# data visualization
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

# Algorithms
from sklearn import linear_model
from sklearn.linear_model import SGDClassifier, LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.neural_network import MLPClassifier
from xgboost import XGBClassifier
import xgboost as xgb

# Preprocessing
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder

# Metrics 
from sklearn.metrics import log_loss
from sklearn.model_selection import cross_val_score

# Model Selection & Hyperparameter tuning
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV, StratifiedKFold



# Clustering
from sklearn.cluster import KMeans

# Mathematical Functions
import math

In [2]:
df = pd.read_csv("D:/doc/All the Semester/7)Seventh Semester fall 23-24/Data Mining Technique/Project/archive/Crime_Data_2010_2017.csv")

In [3]:
print(df.head());

   DR Number Date Reported Date Occurred  Time Occurred  Area ID    Area Name  \
0    1208575    03/14/2013    03/11/2013           1800       12  77th Street
1  102005556    01/25/2010    01/22/2010           2300       20      Olympic
2        418    03/19/2013    03/18/2013           2030       18    Southeast
3  101822289    11/11/2010    11/10/2010           1800       18    Southeast
4   42104479    01/11/2014    01/04/2014           2300       21      Topanga

   Reporting District  Crime Code                    Crime Code Description  \
0                1241         626         INTIMATE PARTNER - SIMPLE ASSAULT
1                2071         510                          VEHICLE - STOLEN
2                1823         510                          VEHICLE - STOLEN
3                1803         510                          VEHICLE - STOLEN
4                2133         745  VANDALISM - MISDEAMEANOR ($399 OR UNDER)

              MO Codes  ...                              Weapon Description  \
0  0416 0446 1243 2000  ...  STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)
1                  NaN  ...                                             NaN
2                  NaN  ...                                             NaN
3                  NaN  ...                                             NaN
4                 0329  ...                                             NaN

  Status Code Status Description  Crime Code 1 Crime Code 2  Crime Code 3  \
0          AO        Adult Other         626.0          NaN           NaN
1          IC        Invest Cont         510.0          NaN           NaN
2          IC        Invest Cont         510.0          NaN           NaN
3          IC        Invest Cont         510.0          NaN           NaN
4          IC        Invest Cont         745.0          NaN           NaN

  Crime Code 4                                  Address Cross Street  \
0          NaN  6300    BRYNHURST                    AV          NaN
1          NaN                                 VAN NESS         15TH
2          NaN   200 E  104TH                        ST          NaN
3          NaN                                     88TH         WALL
4          NaN  7200    CIRRUS                       WY          NaN

              Location
0  (33.9829, -118.3338)
1  (34.0454, -118.3157)
2   (33.942, -118.2717)
3  (33.9572, -118.2717)
4  (34.2009, -118.6369)

[5 rows x 26 columns]

In [4]:
df.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584316 entries, 0 to 1584315
Data columns (total 26 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   DR Number               1584316 non-null  int64
 1   Date Reported           1584316 non-null  object
 2   Date Occurred           1584316 non-null  object
 3   Time Occurred           1584316 non-null  int64
 4   Area ID                 1584316 non-null  int64
 5   Area Name               1584316 non-null  object
 6   Reporting District      1584316 non-null  int64
 7   Crime Code              1584316 non-null  int64
 8   Crime Code Description  1583904 non-null  object
 9   MO Codes                1412557 non-null  object
 10  Victim Age              1455657 non-null  float64
 11  Victim Sex              1439117 non-null  object
 12  Victim Descent          1439084 non-null  object
 13  Premise Code            1584240 non-null  float64
 14  Premise Description     1581565 non-null  object
 15  Weapon Used Code        524757 non-null   float64
 16  Weapon Description      524756 non-null   object
 17  Status Code             1584314 non-null  object
 18  Status Description      1584316 non-null  object
 19  Crime Code 1            1584309 non-null  float64
 20  Crime Code 2            99997 non-null    float64
 21  Crime Code 3            2183 non-null     float64
 22  Crime Code 4            69 non-null       float64
 23  Address                 1584316 non-null  object
 24  Cross Street            262733 non-null   object
 25  Location                1584307 non-null  object
dtypes: float64(7), int64(5), object(14)
memory usage: 314.3+ MB

In [5]:
df.duplicated().sum()

0

In [6]:
columns_to_drop = [
    'DR Number', 'Date Reported', 'Date Occurred','Area Name', 'Crime Code Description', 'MO Codes',
    'Victim Descent', 'Premise Description','Weapon Description', 'Status Description',
    'Crime Code 1', 'Crime Code 2', 'Crime Code 3', 'Crime Code 4','Address','Cross Street','Location '
]

df = df.drop(columns=columns_to_drop)

In [7]:
df.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584316 entries, 0 to 1584315
Data columns (total 9 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Time Occurred       1584316 non-null  int64
 1   Area ID             1584316 non-null  int64
 2   Reporting District  1584316 non-null  int64
 3   Crime Code          1584316 non-null  int64
 4   Victim Age          1455657 non-null  float64
 5   Victim Sex          1439117 non-null  object
 6   Premise Code        1584240 non-null  float64
 7   Weapon Used Code    524757 non-null   float64
 8   Status Code         1584314 non-null  object
dtypes: float64(3), int64(4), object(2)
memory usage: 108.8+ MB

In [8]:
df = df.dropna()
df.info(verbose=True,show_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 496796 entries, 0 to 1584315
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Time Occurred       496796 non-null  int64
 1   Area ID             496796 non-null  int64
 2   Reporting District  496796 non-null  int64
 3   Crime Code          496796 non-null  int64
 4   Victim Age          496796 non-null  float64
 5   Victim Sex          496796 non-null  object
 6   Premise Code        496796 non-null  float64
 7   Weapon Used Code    496796 non-null  float64
 8   Status Code         496796 non-null  object
dtypes: float64(3), int64(4), object(2)
memory usage: 37.9+ MB

In [9]:
df.to_csv('my_dataframe_ADV.csv', index=False)