In [37]:
import numpy as np
import pandas as pd 
import matplotlib as plt
import seaborn as sns 
%matplotlib notebook

In [38]:
dataset=pd.read_csv("my_dataframe.csv")

In [39]:
dataset.head()

,TIME OCC,AREA,Rpt Dist No,Crm Cd,Vict Age,Vict Sex,Premis Cd,Weapon Used Cd,Status
0,2230,3,377,624,36,F,501.0,400.0,AO
1,330,1,163,624,25,M,102.0,500.0,IC
2,30,1,163,121,25,F,735.0,500.0,IC
3,30,18,1871,930,21,F,101.0,511.0,IC
4,2200,1,192,330,29,M,101.0,306.0,IC

In [40]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116446 entries, 0 to 116445
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   TIME OCC        116446 non-null  int64
 1   AREA            116446 non-null  int64
 2   Rpt Dist No     116446 non-null  int64
 3   Crm Cd          116446 non-null  int64
 4   Vict Age        116446 non-null  int64
 5   Vict Sex        116446 non-null  object
 6   Premis Cd       116446 non-null  float64
 7   Weapon Used Cd  116446 non-null  float64
 8   Status          116446 non-null  object
dtypes: float64(2), int64(5), object(2)
memory usage: 8.0+ MB

In [44]:
X

array([[2230, 3, 377, ..., False, False, False],
       [330, 1, 163, ..., False, True, False],
       [30, 1, 163, ..., False, False, False],
       ...,
       [2135, 21, 2143, ..., False, True, False],
       [2210, 5, 564, ..., False, False, False],
       [1050, 17, 1798, ..., False, True, False]], dtype=object)

In [46]:
Y

array(['AO', 'IC', 'IC', ..., 'IC', 'AA', 'IC'], dtype=object)

In [41]:
X=dataset.iloc[:,0:8]

X=pd.get_dummies(X)

X=X.values

Y=dataset.iloc[:,-1].values

from sklearn.model_selection import train_test_split

X_train, X_test,Y_train,Y_test=train_test_split(X,Y,test_size=.25,random_state=42)

from sklearn.neighbors import KNeighborsClassifier

KNN=KNeighborsClassifier()

KNN.fit(X_train,Y_train)

Y_pred=KNN.predict(X_test)

from sklearn.metrics import classification_report, confusion_matrix

print(classification_report(Y_test.reshape(-1,1),Y_pred))